.horsens-first-nav{
    background-color:#00a4a7;
    height:39px;
    font-family: 'Lato', Arial, Verdana, sans-serif;
    font-size: 11px;
    box-shadow:none;
}

.horsens-second-navbar{
    background-color:#f5f5f5;
}
.horsens-second-navbar a{
    color:#00695c !important;
}

.horsens-popup .leaflet-popup-content-wrapper{
    border-radius: 5px;
    border: 1px solid #00000063;
}
.horsens-popup h3{
    color:#00695c;
}



.horsens-popup .leaflet-popup-tip-container{
    margin: -1px auto;
}

@media (max-width:991px){
    .horsens-second-navbar{
        background-color: #00695c !important;
    }
    .horsens-second-navbar a{
        color:white !important;
    }
}